#u101-4
{
	font-family: quicksand-n4, sans-serif;
}

#u128-4
{
	font-family: quicksand-n4, sans-serif;
}

#u121-4
{
	font-family: quicksand-n4, sans-serif;
}

#u114-4
{
	font-family: quicksand-n4, sans-serif;
}

#u107-4
{
	font-family: quicksand-n4, sans-serif;
}

#u147-4
{
	font-family: quicksand-n4, sans-serif;
}

#u383-4,#u663-6,#u1059-10,#u689-10,#u690-10,#u691-10,#u692-10,#u693-10,#u694-10,#u818-4,#u817-23,#u856-4,#u914-4
{
	font-family: quicksand-n4, sans-serif;
}

#u916-4
{
	font-family: quicksand-n4, sans-serif;
}

#u921-4
{
	font-family: quicksand-n4, sans-serif;
}

#u922-4
{
	font-family: quicksand-n4, sans-serif;
}

#u926-4
{
	font-family: quicksand-n4, sans-serif;
}

#u924-4
{
	font-family: quicksand-n4, sans-serif;
}

#u929-4
{
	font-family: quicksand-n4, sans-serif;
}

#u930-4
{
	font-family: quicksand-n4, sans-serif;
}

#widgetu144_input,#widgetu144_prompt,#widgetu913_input,#widgetu913_prompt,#widgetu919_input,#widgetu919_prompt,#widgetu923_input,#widgetu923_prompt,#widgetu927_input,#widgetu927_prompt
{
	font-family: quicksand, sans-serif;
}

#u907-6,#u908-4,#u909-7,#u832-4,#u831-19,#u841-14,#u1068-14,#u342-4
{
	font-family: quicksand-n4, sans-serif;
}

