.version.company /* version checker */
{
	color: #000017;
	background-color: #9212E9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2C4052;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 557px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -114px;
	width: 0.01px;
}

#u1477
{
	z-index: 53;
	min-height: 78px;
	padding-bottom: 18px;
}

#u1478
{
	z-index: 54;
	width: 183px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 13px;
}

#u1677
{
	z-index: 56;
	width: 81px;
	height: 57px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 280px;
}

#u1477-bw
{
	z-index: 53;
	min-height: 78px;
}

#u1749
{
	z-index: 18;
	width: 123px;
	background-color: #3FBF88;
	padding-bottom: 2px;
	margin-left: 257px;
	position: relative;
}

#u1750-4
{
	z-index: 19;
	width: 118px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 5px;
}

#u1747
{
	z-index: 2;
	min-height: 217px;
	padding-bottom: 84px;
	background: transparent url("../../images/squareslantgreen.png") no-repeat center center;
	background-size: cover;
}

#u1748-15
{
	z-index: 3;
	width: 351px;
	min-height: 85px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 11px;
}

#u1748-2,#u1748-9,#u1748-10,#u1748-12
{
	text-align: left;
	color: #FFFFFF;
}

#u1747-bw
{
	z-index: 2;
	min-height: 217px;
	margin-top: 8px;
}

#u1751
{
	z-index: 23;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 37px;
	position: relative;
}

#u1762
{
	z-index: 48;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1766
{
	z-index: 49;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../../images/twitter2.png") no-repeat center center;
	background-size: contain;
}

#u1766:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/twitter2green.png") no-repeat center center;
	background-size: contain;
}

#u1763
{
	z-index: 50;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
	background: transparent url("../../images/linked2.png") no-repeat center center;
	background-size: contain;
}

#u1763:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/linked2green.png") no-repeat center center;
	background-size: contain;
}

#u1764
{
	z-index: 51;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
	background: transparent url("../../images/fb2.png") no-repeat center center;
	background-size: contain;
}

#u1764:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/fb2green.png") no-repeat center center;
	background-size: contain;
}

#u1765
{
	z-index: 52;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
	background: transparent url("../../images/google-.png") no-repeat center center;
	background-size: contain;
}

#u1765:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/google-green.png") no-repeat center center;
	background-size: contain;
}

#u1752
{
	z-index: 24;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#pu1760
{
	width: 0.01px;
}

#u1760
{
	z-index: 25;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1759-6
{
	z-index: 31;
	width: 218px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#pu1754
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -1px;
}

#u1754
{
	z-index: 27;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1753-4
{
	z-index: 37;
	width: 218px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 59px;
}

#pu1757
{
	width: 0.01px;
	margin-top: 2px;
}

#u1757
{
	z-index: 29;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1756-7
{
	z-index: 41;
	width: 248px;
	min-height: 52px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 138px;
}

#page .verticalspacer
{
	clear: both;
}

