.version.contact /* version checker */
{
	color: #0000F7;
	background-color: #CF29F7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2C4052;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.5345689267245px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -173px;
	width: 0.01px;
}

#u1477
{
	z-index: 104;
	min-height: 78px;
	padding-bottom: 18px;
}

#u1478
{
	z-index: 105;
	width: 183px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 13px;
}

#u1677
{
	z-index: 107;
	width: 81px;
	height: 57px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 280px;
}

#u1477-bw
{
	z-index: 104;
	min-height: 78px;
}

#u1811
{
	z-index: 99;
	width: 123px;
	background-color: #3FBF88;
	padding-bottom: 2px;
	margin-left: 257px;
	position: relative;
}

#u1812-4
{
	z-index: 100;
	width: 118px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 5px;
}

#u1789-4
{
	z-index: 32;
	width: 360px;
	min-height: 85px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-left: 9px;
	margin-top: 22px;
	position: relative;
}

#widgetu1790
{
	z-index: 36;
	width: 0.01px;
	height: 316px;
	margin-left: 19px;
	margin-top: 15px;
	position: relative;
}

#widgetu1793
{
	z-index: 37;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1793.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1795-4
{
	z-index: 38;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1794-4
{
	z-index: 42;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1793.non-empty-st #u1794-4
{
	background-color: #FFFFFF;
}

#widgetu1793:hover #u1794-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1793.focus-st #u1794-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1793.non-empty-st #u1794-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1793:hover #u1794-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1793.focus-st #u1794-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1802
{
	z-index: 46;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu1802.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1803-4
{
	z-index: 47;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1804-4
{
	z-index: 51;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1802.non-empty-st #u1804-4
{
	background-color: #FFFFFF;
}

#widgetu1802:hover #u1804-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1802.focus-st #u1804-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1802.non-empty-st #u1804-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1802:hover #u1804-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1802.focus-st #u1804-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1791
{
	z-index: 56;
	height: 25px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu1790.frm-sub-st #u1791
{
	background: url("../../images/u1791-fs.png") no-repeat 0px 0px;
}

#u1792
{
	z-index: 59;
	height: 31px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu1790.frm-subm-err-st #u1792
{
	background: url("../../images/u1792-fse.png") no-repeat 0px 0px;
}

#u1801
{
	z-index: 62;
	height: 25px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu1790.frm-subm-ok-st #u1801
{
	background: url("../../images/u1801-fss.png") no-repeat 0px 0px;
}

#u1810-17
{
	z-index: 64;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	background: url("../../images/u1810-17.png") no-repeat 0px 0px;
}

#u1810-17:hover
{
	background: url("../../images/u1810-17-r.png") no-repeat 0px 0px;
}

#u1810-17:active
{
	background: url("../../images/u1810-17-m.png") no-repeat 0px 0px;
}

#widgetu1790.frm-sub-st #u1810-17
{
	background: url("../../images/u1810-17-fs.png") no-repeat 0px 0px;
}

#widgetu1797
{
	z-index: 81;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: -1px;
}

#widgetu1797.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 176px -10000px 0px 0px;
}

#u1800-4
{
	z-index: 82;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1793.fld-err-st #u1795-4,#widgetu1797.fld-err-st #u1800-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1798-4
{
	z-index: 86;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1797.non-empty-st #u1798-4
{
	background-color: #FFFFFF;
}

#widgetu1797:hover #u1798-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1797.focus-st #u1798-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1797.fld-err-st #u1798-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1797.non-empty-st #u1798-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1797:hover #u1798-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1797.focus-st #u1798-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1797_input,#widgetu1797_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: quicksand, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu1806
{
	z-index: 90;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu1806.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u1808-4
{
	z-index: 91;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1802.fld-err-st #u1803-4,#widgetu1806.fld-err-st #u1808-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1793.fld-err-st #u1795-4 p,#widgetu1793.fld-err-st #u1795-4 span,#widgetu1802.fld-err-st #u1803-4 p,#widgetu1802.fld-err-st #u1803-4 span,#widgetu1797.fld-err-st #u1800-4 p,#widgetu1797.fld-err-st #u1800-4 span,#widgetu1806.fld-err-st #u1808-4 p,#widgetu1806.fld-err-st #u1808-4 span
{
	color: #D7244C;
}

#u1809-4
{
	z-index: 95;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1806.non-empty-st #u1809-4
{
	background-color: #FFFFFF;
}

#widgetu1806:hover #u1809-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1806.focus-st #u1809-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1793.fld-err-st #u1794-4,#widgetu1802.fld-err-st #u1804-4,#widgetu1806.fld-err-st #u1809-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1806.non-empty-st #u1809-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1806:hover #u1809-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1806.focus-st #u1809-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1793.fld-err-st #u1794-4 *,#widgetu1802.fld-err-st #u1804-4 *,#widgetu1797.fld-err-st #u1798-4 *,#widgetu1806.fld-err-st #u1809-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1793_input,#widgetu1793_prompt,#widgetu1802_input,#widgetu1802_prompt,#widgetu1806_input,#widgetu1806_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: quicksand, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu1793.focus-st #widgetu1793_prompt,#widgetu1802.focus-st #widgetu1802_prompt,#widgetu1797.focus-st #widgetu1797_prompt,#widgetu1806.focus-st #widgetu1806_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1793:hover #widgetu1793_input,#widgetu1793.focus-st #widgetu1793_input,#widgetu1793.fld-err-st #widgetu1793_input,#widgetu1793:hover #widgetu1793_prompt,#widgetu1793.fld-err-st #widgetu1793_prompt,#widgetu1802:hover #widgetu1802_input,#widgetu1802.focus-st #widgetu1802_input,#widgetu1802.fld-err-st #widgetu1802_input,#widgetu1802:hover #widgetu1802_prompt,#widgetu1802.fld-err-st #widgetu1802_prompt,#widgetu1797:hover #widgetu1797_input,#widgetu1797.focus-st #widgetu1797_input,#widgetu1797.fld-err-st #widgetu1797_input,#widgetu1797:hover #widgetu1797_prompt,#widgetu1797.fld-err-st #widgetu1797_prompt,#widgetu1806:hover #widgetu1806_input,#widgetu1806.focus-st #widgetu1806_input,#widgetu1806.fld-err-st #widgetu1806_input,#widgetu1806:hover #widgetu1806_prompt,#widgetu1806.fld-err-st #widgetu1806_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1793.non-empty-st #widgetu1793_prompt,#widgetu1802.non-empty-st #widgetu1802_prompt,#widgetu1797.non-empty-st #widgetu1797_prompt,#widgetu1806.non-empty-st #widgetu1806_prompt
{
	visibility: hidden;
}

#u1770
{
	z-index: 2;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 42px;
	position: relative;
}

#u1781
{
	z-index: 27;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1785
{
	z-index: 28;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../../images/twitter2.png") no-repeat center center;
	background-size: contain;
}

#u1785:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/twitter2green.png") no-repeat center center;
	background-size: contain;
}

#u1782
{
	z-index: 29;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
	background: transparent url("../../images/linked2.png") no-repeat center center;
	background-size: contain;
}

#u1782:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/linked2green.png") no-repeat center center;
	background-size: contain;
}

#u1783
{
	z-index: 30;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
	background: transparent url("../../images/fb2.png") no-repeat center center;
	background-size: contain;
}

#u1783:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/fb2green.png") no-repeat center center;
	background-size: contain;
}

#u1784
{
	z-index: 31;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
	background: transparent url("../../images/google-.png") no-repeat center center;
	background-size: contain;
}

#u1784:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/google-green.png") no-repeat center center;
	background-size: contain;
}

#u1771
{
	z-index: 3;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 32px;
	position: relative;
}

#pu1779
{
	width: 0.01px;
}

#u1779
{
	z-index: 4;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1778-6
{
	z-index: 10;
	width: 218px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#pu1773
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -1px;
}

#u1773
{
	z-index: 6;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1772-4
{
	z-index: 16;
	width: 218px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 59px;
}

#pu1776
{
	width: 0.01px;
	margin-top: 2px;
}

#u1776
{
	z-index: 8;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1775-7
{
	z-index: 20;
	width: 248px;
	min-height: 52px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 188px;
}

#page .verticalspacer
{
	clear: both;
}

