#u1812-4,#u1789-4,#u1795-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1794-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1803-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1804-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1800-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1798-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1808-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1809-4
{
	font-family: quicksand-n4, sans-serif;
}

#widgetu1793_input,#widgetu1793_prompt,#widgetu1802_input,#widgetu1802_prompt,#widgetu1797_input,#widgetu1797_prompt,#widgetu1806_input,#widgetu1806_prompt
{
	font-family: quicksand, sans-serif;
}

#u1778-6,#u1772-4,#u1775-7
{
	font-family: quicksand-n4, sans-serif;
}

