.version.index /* version checker */
{
	color: #000003;
	background-color: #3D6BD2;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2C4052;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 576px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu1464
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1464
{
	z-index: 2;
	min-height: 35px;
	padding-bottom: 342px;
	background: transparent url("../../images/photodune-6548812-airport-l-u1464-fr.png") no-repeat left top;
}

#u1654
{
	z-index: 34;
	width: 110px;
	background-color: #3FBF88;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 270px;
}

#u1655-4
{
	z-index: 35;
	width: 110px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1464-bw
{
	z-index: 2;
	min-height: 35px;
	margin-top: 86px;
}

#u1476
{
	z-index: 3;
	height: 213px;
	background: transparent url("../../images/squareslant.png") no-repeat left top;
	background-size: cover;
}

#u1476-bw
{
	z-index: 3;
	margin-top: 302px;
	height: 213px;
}

#u1477
{
	z-index: 39;
	min-height: 78px;
	padding-bottom: 18px;
}

#u1478
{
	z-index: 40;
	width: 183px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 13px;
}

#u1677
{
	z-index: 42;
	width: 81px;
	height: 57px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 280px;
}

#u1477-bw
{
	z-index: 39;
	min-height: 78px;
}

#u1415
{
	z-index: 43;
	min-height: 78px;
	border-style: solid;
	border-color: #3FBF88;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	border-width: 0px 0px 4px;
}

#u1416
{
	z-index: 44;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 13px;
}

#u1423
{
	z-index: 46;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 278px;
}

#u1419
{
	z-index: 47;
	width: 75px;
	height: 6px;
	background-color: #2C4052;
	border-radius: 10px;
	position: relative;
}

#u1421
{
	z-index: 49;
	width: 75px;
	height: 6px;
	background-color: #2C4052;
	border-radius: 10px;
	margin-top: 8px;
	position: relative;
}

#u1420
{
	z-index: 48;
	width: 75px;
	height: 6px;
	background-color: #2C4052;
	border-radius: 10px;
	margin-top: 8px;
	position: relative;
}

#u1422
{
	z-index: 50;
	width: 75px;
	height: 6px;
	background-color: #2C4052;
	border-radius: 10px;
	margin-top: 9px;
	position: relative;
}

#u1415-bw
{
	z-index: 43;
	min-height: 78px;
}

#u1465-4
{
	z-index: 51;
	min-height: 110px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u1465-4-bw
{
	z-index: 51;
	min-height: 110px;
	margin-top: 360px;
}

#widgetu1466
{
	z-index: 55;
	width: 0.01px;
	height: 101px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 67px;
}

#widgetu1467
{
	z-index: 56;
	width: 248px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1467.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 248px;
	height: 31px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1469-4
{
	z-index: 57;
	width: 236px;
	min-height: 19px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	letter-spacing: 0px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu1467.non-empty-st #u1469-4
{
	background-color: #FFFFFF;
}

#widgetu1467:hover #u1469-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1467.focus-st #u1469-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1467.fld-err-st #u1469-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1467.non-empty-st #u1469-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1467:hover #u1469-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1467.focus-st #u1469-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1467.fld-err-st #u1469-4 *
{
	color: #7F7F7F;
	font-style: italic;
}

#widgetu1467_input,#widgetu1467_prompt
{
	width: 236px;
	min-height: 19px;
	color: #C4C4C4;
	letter-spacing: 0px;
	font-family: quicksand, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu1467:hover #widgetu1467_input,#widgetu1467.focus-st #widgetu1467_input,#widgetu1467.fld-err-st #widgetu1467_input,#widgetu1467:hover #widgetu1467_prompt,#widgetu1467.focus-st #widgetu1467_prompt,#widgetu1467.fld-err-st #widgetu1467_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1467.non-empty-st #widgetu1467_prompt
{
	visibility: hidden;
}

#u1473
{
	z-index: 62;
	height: 31px;
	width: 149px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 48px;
}

#widgetu1466.frm-sub-st #u1473
{
	background: url("../../images/u1473-fs.png") no-repeat 0px 0px;
}

#u1472
{
	z-index: 65;
	height: 32px;
	width: 149px;
	vertical-align: top;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 48px;
}

#widgetu1466.frm-subm-err-st #u1472
{
	background: url("../../images/u1472-fse.png") no-repeat 0px 0px;
}

#u1474
{
	z-index: 68;
	height: 31px;
	width: 149px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 48px;
}

#widgetu1466.frm-subm-ok-st #u1474
{
	background: url("../../images/u1474-fss.png") no-repeat 0px 0px;
}

#u1471-17
{
	z-index: 70;
	min-height: 31px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 58px;
	background: url("../../images/u1471-17.png") no-repeat 0px 0px;
}

#u1471-17:hover
{
	background: url("../../images/u1471-17-r.png") no-repeat 0px 0px;
}

#u1471-17:active
{
	background: url("../../images/u1471-17-m.png") no-repeat 0px 0px;
}

#widgetu1466.frm-sub-st #u1471-17
{
	background: url("../../images/u1471-17-fs.png") no-repeat 0px 0px;
}

#u1475-4
{
	z-index: 87;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u1475-4-bw
{
	z-index: 87;
	min-height: 60px;
	margin-top: 145px;
}

#u1593
{
	z-index: 4;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -101px;
	position: relative;
	margin-right: -10000px;
	margin-top: 485px;
	left: 37px;
}

#u1512
{
	z-index: 29;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1504
{
	z-index: 30;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../../images/twitter2.png") no-repeat center center;
	background-size: contain;
}

#u1504:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/twitter2green.png") no-repeat center center;
	background-size: contain;
}

#u1505
{
	z-index: 31;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
	background: transparent url("../../images/linked2.png") no-repeat center center;
	background-size: contain;
}

#u1505:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/linked2green.png") no-repeat center center;
	background-size: contain;
}

#u1506
{
	z-index: 32;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
	background: transparent url("../../images/fb2.png") no-repeat center center;
	background-size: contain;
}

#u1506:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/fb2green.png") no-repeat center center;
	background-size: contain;
}

#u1507
{
	z-index: 33;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
	background: transparent url("../../images/google-.png") no-repeat center center;
	background-size: contain;
}

#u1507:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/google-green.png") no-repeat center center;
	background-size: contain;
}

#u1511
{
	z-index: 5;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#pu1495
{
	width: 0.01px;
}

#u1495
{
	z-index: 6;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1501-6
{
	z-index: 12;
	width: 218px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#pu1497
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -1px;
}

#u1497
{
	z-index: 8;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1502-4
{
	z-index: 18;
	width: 218px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 59px;
}

#pu1499
{
	width: 0.01px;
	margin-top: 2px;
}

#u1499
{
	z-index: 10;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1503-7
{
	z-index: 22;
	width: 248px;
	min-height: 52px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 114px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -484px;
}

