#u1477
{
	border-style: solid;
	border-color: #3FBF88;
	background-color: #FFFFFF;
	border-width: 0px 0px 4px;
}

#u1478
{
	background-color: transparent;
	position: relative;
}

#u1677
{
	position: relative;
	background: transparent url("../../images/menu.png") no-repeat center center;
	background-size: contain;
}

