.version.opportunity /* version checker */
{
	color: #000017;
	background-color: #503626;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2C4052;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 951px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu1694
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1694
{
	z-index: 2;
	min-height: 807.7531246750427px;
	padding-bottom: 0px;
	background: transparent url("../../images/photodune-6548812-airport-l-u1694-fr.png") no-repeat left top;
	background-size: cover;
}

#u1694_position_content
{
	padding-top: 13px;
	padding-bottom: 51px;
}

#u1714
{
	z-index: 65;
	width: 123px;
	background-color: #3FBF88;
	padding-bottom: 2px;
	margin-left: 257px;
	position: relative;
}

#u1715-4
{
	z-index: 66;
	width: 118px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 5px;
}

#u1683
{
	z-index: 3;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 32px;
	position: relative;
}

#u1685
{
	z-index: 4;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#pu1688
{
	width: 0.01px;
	margin-left: 30px;
}

#u1688
{
	z-index: 33;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1691-4
{
	z-index: 29;
	width: 261px;
	min-height: 61px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 80px;
}

#u1690-22
{
	z-index: 7;
	width: 380px;
	min-height: 197px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u1686
{
	z-index: 5;
	width: 242px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: 67px;
	margin-top: 14px;
	position: relative;
}

#u1694-bw
{
	z-index: 2;
	min-height: 807.7531246750427px;
	margin-top: 86px;
}

#u1726
{
	z-index: 70;
	height: 699px;
	background: transparent url("../../images/squareslantgreen-u1726-fr.png") no-repeat center center;
	background-size: cover;
}

#u1726-bw
{
	z-index: 70;
	margin-top: 799px;
	height: 699px;
}

#u1746
{
	z-index: 71;
	min-height: 535px;
	padding-bottom: 69px;
	background: transparent url("../../images/photodune-6548812-airport-l-u1694-fr.png") no-repeat left top;
	background-size: cover;
}

#u1727
{
	z-index: 72;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
}

#pu1729
{
	width: 0.01px;
	margin-left: 29px;
}

#u1729
{
	z-index: 73;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1731-4
{
	z-index: 88;
	width: 261px;
	min-height: 61px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 81px;
}

#pu1728-13
{
	width: 0.01px;
	margin-top: 13px;
}

#u1728-13
{
	z-index: 75;
	width: 380px;
	min-height: 258px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1732
{
	z-index: 92;
	width: 242px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 67px;
}

#u1746-bw
{
	z-index: 71;
	min-height: 535px;
	margin-top: 849px;
}

#u1477
{
	z-index: 94;
	min-height: 78px;
	padding-bottom: 18px;
}

#u1478
{
	z-index: 95;
	width: 183px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 13px;
}

#u1677
{
	z-index: 97;
	width: 81px;
	height: 57px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 280px;
}

#u1477-bw
{
	z-index: 94;
	min-height: 78px;
}

#u1695
{
	z-index: 35;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -115px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1482px;
	left: 35px;
}

#u1696
{
	z-index: 60;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1697
{
	z-index: 61;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../../images/twitter2.png") no-repeat center center;
	background-size: contain;
}

#u1697:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/twitter2green.png") no-repeat center center;
	background-size: contain;
}

#u1698
{
	z-index: 62;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
	background: transparent url("../../images/linked2.png") no-repeat center center;
	background-size: contain;
}

#u1698:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/linked2green.png") no-repeat center center;
	background-size: contain;
}

#u1699
{
	z-index: 63;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
	background: transparent url("../../images/fb2.png") no-repeat center center;
	background-size: contain;
}

#u1699:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/fb2green.png") no-repeat center center;
	background-size: contain;
}

#u1700
{
	z-index: 64;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
	background: transparent url("../../images/google-.png") no-repeat center center;
	background-size: contain;
}

#u1700:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/google-green.png") no-repeat center center;
	background-size: contain;
}

#u1701
{
	z-index: 36;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#pu1702
{
	width: 0.01px;
}

#u1702
{
	z-index: 37;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1706-6
{
	z-index: 43;
	width: 218px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#pu1704
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -1px;
}

#u1704
{
	z-index: 39;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1707-4
{
	z-index: 49;
	width: 218px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 59px;
}

#pu1709
{
	width: 0.01px;
	margin-top: 2px;
}

#u1709
{
	z-index: 41;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1708-7
{
	z-index: 53;
	width: 248px;
	min-height: 52px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 158px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1481px;
}

