.version.product /* version checker */
{
	color: #000012;
	background-color: #221CEC;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2C4052;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1223.950000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#u1477
{
	z-index: 139;
	min-height: 78px;
	padding-bottom: 18px;
}

#u1478
{
	z-index: 140;
	width: 183px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 13px;
}

#u1677
{
	z-index: 142;
	width: 81px;
	height: 57px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 280px;
}

#u1477-bw
{
	z-index: 139;
	min-height: 78px;
}

#u1656
{
	z-index: 134;
	width: 110px;
	background-color: #3FBF88;
	margin-left: 270px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u1657-4
{
	z-index: 135;
	width: 110px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1616
{
	z-index: 2;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 31px;
	position: relative;
}

#pamphletu1619
{
	z-index: 3;
	width: 0.01px;
	height: 189px;
	padding-bottom: 200px;
	position: relative;
	margin-right: -10000px;
}

#u1620
{
	position: absolute;
	width: 380px;
	border-style: none;
	background-color: transparent;
	top: 198px;
}

#u1620popup
{
	z-index: 4;
}

#u1631
{
	z-index: 5;
	width: 380px;
	height: 191px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1653-10
{
	z-index: 6;
	width: 325px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1625
{
	z-index: 16;
	width: 380px;
	height: 191px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1626-10
{
	z-index: 17;
	width: 325px;
	min-height: 191px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1621
{
	z-index: 27;
	width: 380px;
	height: 191px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1622-10
{
	z-index: 28;
	width: 325px;
	min-height: 153px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1635
{
	z-index: 38;
	width: 380px;
	height: 191px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1636-10
{
	z-index: 39;
	width: 325px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1629
{
	z-index: 49;
	width: 380px;
	height: 191px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1630-10
{
	z-index: 50;
	width: 325px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1623
{
	z-index: 60;
	width: 380px;
	height: 191px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1624-10
{
	z-index: 61;
	width: 325px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1627
{
	z-index: 71;
	width: 380px;
	height: 191px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1628-10
{
	z-index: 72;
	width: 325px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1653-2,#u1626-2,#u1622-2,#u1636-2,#u1630-2,#u1624-2,#u1628-2
{
	font-size: 24px;
	line-height: 29px;
}

#u1653-3,#u1626-3,#u1622-3,#u1636-3,#u1630-3,#u1624-3,#u1628-3
{
	font-size: 18px;
	line-height: 22px;
}

#u1653-5,#u1653-6,#u1653-8,#u1626-5,#u1626-6,#u1626-8,#u1622-5,#u1622-6,#u1622-8,#u1636-5,#u1636-6,#u1636-8,#u1630-5,#u1630-6,#u1630-8,#u1624-5,#u1624-6,#u1624-8,#u1628-5,#u1628-6,#u1628-8
{
	font-size: 16px;
	line-height: 20px;
}

#u1637
{
	z-index: 82;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#u1639
{
	position: absolute;
	width: 115px;
	height: 95px;
	border-style: none;
	left: 43px;
	background: transparent url("../../images/dial2-u1639-fr.png") no-repeat center center;
	background-size: contain;
}

#u1639:hover
{
	width: 115px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial2-u1639-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1639.PamphletThumbSelected
{
	width: 115px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial2-u1639-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1641
{
	position: absolute;
	width: 115px;
	height: 96px;
	border-style: none;
	left: 140px;
	background: transparent url("../../images/dial2-u1641-fr.png") no-repeat center center;
	background-size: contain;
}

#u1641:hover
{
	width: 115px;
	height: 96px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial2-u1641-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1641.PamphletThumbSelected
{
	width: 115px;
	height: 96px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial2-u1641-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1640
{
	position: absolute;
	width: 115px;
	height: 95px;
	border-style: none;
	left: 232px;
	background: transparent url("../../images/dial-u1640-fr.png") no-repeat center center;
	background-size: contain;
}

#u1640:hover
{
	width: 115px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1640-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1640.PamphletThumbSelected
{
	width: 115px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1640-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1642
{
	position: absolute;
	width: 115px;
	height: 92px;
	border-style: none;
	top: 95px;
	left: 86px;
	background: transparent url("../../images/dial-u1642-fr.png") no-repeat center center;
	background-size: contain;
}

#u1642:hover
{
	width: 115px;
	height: 92px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1642-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1642.PamphletThumbSelected
{
	width: 115px;
	height: 92px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1642-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1643
{
	position: absolute;
	width: 115px;
	height: 94px;
	border-style: none;
	top: 95px;
	left: 265px;
	background: transparent url("../../images/dial-u1643-fr.png") no-repeat center center;
	background-size: contain;
}

#u1643:hover
{
	width: 115px;
	height: 94px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1643-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1643.PamphletThumbSelected
{
	width: 115px;
	height: 94px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1643-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1638
{
	position: absolute;
	width: 115px;
	height: 94px;
	border-style: none;
	top: 95px;
	left: 174px;
	background: transparent url("../../images/dial-u1638-fr.png") no-repeat center center;
	background-size: contain;
}

#u1638:hover
{
	width: 115px;
	height: 94px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1638-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1638.PamphletThumbSelected
{
	width: 115px;
	height: 94px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1638-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1644
{
	position: absolute;
	width: 113px;
	height: 92px;
	border-style: none;
	top: 95px;
	background: transparent url("../../images/dial2-u1644-fr.png") no-repeat center center;
	background-size: contain;
}

#u1644:hover
{
	width: 113px;
	height: 92px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1644-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1644.PamphletThumbSelected
{
	width: 113px;
	height: 92px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/dial-u1644-r-fr.png") no-repeat center center;
	background-size: contain;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1651-14
{
	z-index: 90;
	width: 323px;
	min-height: 241px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-left: 28px;
	margin-top: 32px;
	position: relative;
}

#u1658
{
	z-index: 104;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 31px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1659
{
	z-index: 129;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1662
{
	z-index: 130;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../../images/twitter2.png") no-repeat center center;
	background-size: contain;
}

#u1662:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/twitter2green.png") no-repeat center center;
	background-size: contain;
}

#u1660
{
	z-index: 131;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
	background: transparent url("../../images/linked2.png") no-repeat center center;
	background-size: contain;
}

#u1660:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/linked2green.png") no-repeat center center;
	background-size: contain;
}

#u1661
{
	z-index: 132;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
	background: transparent url("../../images/fb2.png") no-repeat center center;
	background-size: contain;
}

#u1661:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/fb2green.png") no-repeat center center;
	background-size: contain;
}

#u1663
{
	z-index: 133;
	width: 38px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
	background: transparent url("../../images/google-.png") no-repeat center center;
	background-size: contain;
}

#u1663:hover
{
	width: 38px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/google-green.png") no-repeat center center;
	background-size: contain;
}

#u1664
{
	z-index: 105;
	width: 309px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#pu1665
{
	width: 0.01px;
}

#u1665
{
	z-index: 106;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1668-6
{
	z-index: 112;
	width: 218px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#pu1671
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -1px;
}

#u1671
{
	z-index: 108;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1667-4
{
	z-index: 118;
	width: 218px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 59px;
}

#pu1669
{
	width: 0.01px;
	margin-top: 2px;
}

#u1669
{
	z-index: 110;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1673-7
{
	z-index: 122;
	width: 248px;
	min-height: 52px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

