#u1351-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1329-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1319-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1340-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1336-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1185-4,#u1233-4,#u1234-14,#u1237-12,#u1203-6,#u1205-10,#u1197-10,#u1191-10,#u1201-10,#u1199-10,#u1195-10,#u1193-10,#u1223-14,#u1242-4,#u1241-13,#u1251-9,#u1266-4,#u1277-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1278-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1282-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1284-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1288-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1286-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1292-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1291-4
{
	font-family: quicksand-n4, sans-serif;
}

#u1260-6,#u1261-4,#u1272-7,#u1255-14,#u1177-4
{
	font-family: quicksand-n4, sans-serif;
}

#widgetu1275_input,#widgetu1275_prompt,#widgetu1281_input,#widgetu1281_prompt,#widgetu1285_input,#widgetu1285_prompt,#widgetu1290_input,#widgetu1290_prompt,#widgetu1174_input,#widgetu1174_prompt
{
	font-family: quicksand, sans-serif;
}

#u1179-4
{
	font-family: quicksand-n4, sans-serif;
}

